@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
        url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
        url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

html {
    font-size: 16px;
}

html, body {
    height: 100%;
}

body {
    font-family: 'GmarketSansMedium';
    background-color: #5B2386;
    color: #FFF;
}

/* 메인 컨텐츠 */

.wrapper {
    margin-top: 3.125rem;
}

/* 제목 이미지 */
.title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.125rem;
}

.title .clock_img {
    width: 16.563rem;
    height: 16.563rem;
}

.title_img {
    position: absolute;
    width: 35.25rem;
}

.title_img img {
    width: 100%;
}

/* 1만 시간의 법칙 설명 */
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.125rem;
}

.intro .intro_saying {
    font-family: 'OTEnjoystoriesBA';
    font-size: 2.25rem;
    color: #F5DF4D;
    margin-bottom: 3.125rem;
}

.intro .explain {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 5rem;
}

.intro .quotes {
    padding-top: 1.25rem;
}

.intro .explain p {
    position: absolute;
    font-size: 1.063rem;
    line-height: 1.7;
}

.intro .explain span {
    font-family: 'GmarketSansBold';
    font-size: 1.25rem;
}

/* 사용자 입력 */
.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.25rem;
    margin-bottom: 4.375rem;
}

.inputs div {
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
}

.inputs input {
    padding: 0.938rem 1.25rem; /*상하, 좌우*/
    margin: 0 0.938rem;
    border: none;
    border-radius: 0.625rem;
    font-size: 1.25rem;
    font-family: 'GmarketSansMedium';
    width: 12.5rem;
}

.inputs input::placeholder {
    color: #BABCBE;
}

/* 버튼 공통 스타일 */
button {
    font-family: 'GmarketSansBold';
    font-size: 1.25rem;
    color: #5B2386;
    background-color: #FCEE21;
    border: none;
    border-radius: 1.875rem;
    padding: 0.625rem 2.5rem;
    cursor: pointer;
    word-break: keep-all;
}

.start {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.start .btn_wrap {
    position: relative;
}

.start .click_img {
    position: absolute;
    right: -4.688rem;
    bottom: -1.563rem;
}

/* 결과 로딩 */
.result_loading {
    display: none;
    justify-content: center;
    margin-bottom: 5rem;
}

.result_loading .img_wrap {
    width: 6.25rem;
    height: 6.25rem;
}

.result_loading .img_wrap img {
    width: 100%;
    height: auto;
    animation: rotate 1.1s infinite linear;
}

/* 결과 */
.result {
    display: none;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    margin-bottom: 5rem;
}

.result .result_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result .result_wrap div {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
}

.result span {
    padding: 0 1.25rem;
    font-family: 'GmarketSansBold';
    font-size: 4.375rem;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 4.375rem;
}

.buttons .share button {
    background-color: #FFF;
    margin-left: 1.25rem;
}

#modal {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

#modal .modal_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 37.5rem;
    background-color: #FFF;
    border-radius: 1.25rem;
}

#modal .cheer {
    font-family: 'OTEnjoystoriesBA';
    color: #5B2386;
    text-align: center;
}

#modal .cheer h1 {
    font-size: 5rem;
    margin-top: 1.25rem;
}

#modal .cheer h3 {
    font-size: 1.875rem;
}

#modal .licat_img {
    margin-bottom: 1.25rem;
}

#modal .close_btn {
    box-shadow: 0rem 0.313rem 1.25rem 0.063rem rgba(0, 0, 0, 15%);
    margin-bottom: 1.25rem;
}

#modal .btn p {
    color: #747474;
    font-size: 0.813rem;
    text-align: center;
    margin-bottom: 1.25rem;
}

/* 저작권 */
#copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3.125rem;
}

#copyright p {
    font-size: 0.625rem;
    line-height: 1.5;
    padding: 1.25rem 0;
    text-align: center;
}


